@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

.music {

    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.15);

    &__icon {
        font-size: 2rem;
    }

}